@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.container1 {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 2.5rem;
  height: 100%;
  box-sizing: border-box;

  @include onDesktop {
    padding: 0 4rem;
  }
}
