@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.services {
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 10rem;
  position: relative;
  background-image: linear-gradient(rgba(23, 22, 22, 0.932),rgba(0, 0, 0, 0.5)), url(../../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include onTablet {
    padding-bottom: 6rem;
  }

  @include onDesktop {
    padding-bottom: 12rem;
  }

  &__content {
    overflow: hidden;
    min-height: 52rem;
    @include onDesktop {
      overflow:visible;
    }

    @include onTablet {
      min-height: 45rem;
    }

    @include onMobile {
      min-height: 45rem;
      overflow: hidden;
      padding-bottom: 7rem;
    }

  }

  &__icon {
    display: inline-block;
    margin-bottom: 2.1rem;
    font-size: 6rem;
    color: $colorPurpleHover;
  }

  &__name {
    font-family: "Poppins", sans-serif;
    color: $colorWhite;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
    font-weight: bold;
  }

  &__description {
    font-family: "Lora", serif;
    font-size: 1.7rem;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.6);
  }

  &__card {
    padding: 0 3rem;
    text-align: center;
  }

  &__intro {
    margin-bottom: 3rem;
    max-width: 65rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    @include onDesktop {
      max-width: 70rem;
    }
  }

  &__title {
    @include titles;
  }

  &__subtitle {
    @include section-intro;

    &--color_white {
      color: $colorWhite;
    }
  }

  &__small-description {
    @include intro-text-description;
    max-width: 60rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &--color_white {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
