@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.grid-no-gap {
  display: block;
  @include onDesktop {
    display: grid;
  }
  grid-template-columns: repeat(12, 1fr);

  &__item {
    &--1-6 {
      grid-column: 1/7;
      position: relative;
      z-index: 1;
    }

    &--1-6:hover {
      .portfolio__image {
        filter: brightness(20%);
        transform: scale(1.05);
      }

      .portfolio__item-cell {
        left: 0;
        opacity: 1;
      }
    }

    &--7-12 {
      grid-column: 7/13;
      position: relative;
    }

    &--7-12:hover {
      .portfolio__image {
        filter: brightness(20%);
        transform: scale(1.05);
      }

      .portfolio__item-cell {
        left: 0;
        opacity: 1;
      }
    }
  }
}
