

.header {
  background-image: linear-gradient(rgba(11, 11, 11, 0.938),rgba(21, 21, 21, 0.84)), url(../images/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;


  &__author {
    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }

    &-name {
      font-size: 5.5rem;
      color: #FFFFFF;
      font-family: 'Poppins', sans-serif;
      line-height: 1.071;
      transition: all 0.3s ease-in-out;
      margin-bottom: 6px;
      font-weight: bold;
      letter-spacing: -.1rem;
  
      @include onMobile {
        text-align: center;
        font-size: 4rem;
      }
  
      @include onDesktop {
        font-size: 8.4rem;
        letter-spacing: -.1rem;
      }
    }

    &-in-details {
      position: relative;
      padding: 0 30px;
      text-decoration: none;
      line-height: 54px;
      font-size: 1.2rem;
      font-family: 'Poppins', sans-serif;
      color: #fff;
      border: 3px solid #6e6e6e;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 4px;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;
    }

    &-in-details:hover {
      border-color: #cc005f;
      color: #fff;
    }

    &-in-details::after {
      display: inline-block;
      content: "";
      background-image: url(../images/arrow2.png);
      background-position: center;
      background-size: cover;
      opacity: 0.3;
      position: relative;
      left: 1.2rem;
      width: 10px;
      height: 10px;
    }

    &-first-occupation {
      @include author-occupations;
      @include onMobile {
        display: block;
      }
    }

    &-first-occupation::before {
      content: "|";
      text-align: center;
      display: inline-block;
      padding: 0 14px 0 8px;
      color: rgba(255, 255, 255, 0.3);
  
      @include onMobile {
        content: "";
        padding: 0;
      }
    }

    
    &-first-occupation::after {
      content: "|";
      text-align: center;
      display: inline-block;
      padding: 0 8px 0 14px;
      color: rgba(255, 255, 255, 0.3);
  
      @include onMobile {
        content: "";
        padding: 0;
      }
    }

    &-second-occupation {
      @include author-occupations;
    }

    &-second-occupation::after {
      content: "|";
      text-align: center;
      display: inline-block;
      padding: 0 8px 0 14px;
      color: rgba(255, 255, 255, 0.3);
  
      @include onMobile {
        content: "";
        padding: 0;
      }
    }
  }

  &__link {
    &-item {
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }

    &-item:hover{
      color: #cc005f;
    }
  }


  &__links {
    position: relative;
    top: 20%;
    color: blue;
    font-size: 2.5rem;

    @include onDesktop {
      font-size: 3.5rem;
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 40px;
    }
  
  }

  &__about-author {
    @include onMobile {
      font-size: 1.2rem;
      text-align: center;
      height: 24px;
      margin-bottom: 60px;
    }

    margin-bottom: 30px;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__greeting {
    color: #cc005f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 0.3rem;
    letter-spacing: .2rem;

    @include onMobile {
      font-size: 1.5rem;
    }

    @include onDesktop {
      font-size: 2.3rem;
      margin-bottom: 0;
      letter-spacing: .3rem;
    }
  }

}
