@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.social-network{
  position: relative;
  top: 25%;
  font-size: 2.5rem;

  @include onDesktop {
    font-size: 3.5rem;
    top: 20%;
  }

  &--font-small {
    font-size: 2.1rem;
  }

  &__link {
    &-item {
      text-decoration: none;
      color: $colorWhite;
      transition: all 0.3s ease-in-out;
    }
  
    &-item--color-purple:hover{
      color: $colorPurpleHover;
    }
  
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 4rem;

    @include onMobile {
      gap: 2.5rem;
    }

    &--gap_bigger {
      gap: 3rem;
    }
  }

}

