$colorPurple: #ff0077;
$colorPurpleHover: #cc005f;
$colorPurpleStatisticsBackground: #990047;

$colorDarkBrownScale: #313131;

$colorGreySectionIntroText: #7d7d7d;
$colorGreySwitchersLink: #ffffff59;
$colorGreyExperienceBackground: #ebebeb;
$colorGreyAboutSkillsBackground: #a1a1a1;
$colorGreySectionBackground: #ebebeb;
$colorGrey1: #888;
$colorGrey2: rgba(255, 255, 255, 0.3);
$colorGrey: #6e6e6e;

$colorBlackBackground: #151515;
$colorBlack: #000;
$colorBlack1: #0d0d0d;

$colorWhite: #fff;

$authorOccupationPaddings: 0 0.8rem 0 1.4rem;

