@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.experience {
  padding-top: 12rem;
  padding-bottom: 12rem;

  &__details {
    margin-bottom: 3rem;
    font-family: "Lora", serif;
    font-size: 1.7rem;
    line-height: 3rem;
    color: $colorGrey;

    @include onMobile {
      height: 70%;
    }
  }

  &__content {
    padding-left: 7rem;

    @include onDesktop {
      padding-left: 0;
    }
  }

  &__company-name {
    position: relative;
    padding-bottom: 1.8rem;
    font-size: 1.7rem;
    line-height: 1.765;
    margin-bottom: 1.8rem;
    font-family: "Poppins", sans-serif;
    color: $colorDarkBrownScale;
    font-style: normal;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-weight: bold;

    @include onMobile {
      padding-bottom: 0;
      margin-bottom: 5px;
    }
  }

  &__company-name::after {
    content: "";
    display: block;
    height: 3px;
    width: 5rem;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    bottom: 60px;
    
    @include onDesktop {
      bottom: 0;
    }
  }

  &__header {
    text-align: left;
    transform: translateX(-15%);
    padding-left: 10rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include onDesktop {
      text-align: right;
      padding-left: 0;
    }
  }

  &__subheader {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: bold;


    @include onDesktop {
      font-size: 2rem;
    }
  }

  &__timeline {
    font-size: 1.4rem;
    font-family: "Poppins-regular", sans-serif;
    color: $colorGrey1;


    @include onDesktop {
      font-size: 1.6rem;
    }
  }

  &__work-info {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }


  &__work-info::before {
    content: "";
    display: block;
    width: 0.1rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 2.4rem;
    top: 0;

    @include onDesktop {
      left: 36.4%;
    }
  }

  &__icon {
    transform: translateY(-100%);
    height: 4.8rem;
    width: 4.8rem;
    line-height: 4.8rem;
    background-color: $colorDarkBrownScale;
    border-radius: 50%;
    text-align: center;
    color: $colorWhite;
    font-size: 1.7rem;
    position: relative;
    z-index: 1;


    @include onDesktop {
      transform: translateY(0);
    }
  }

  &__intro {
    margin-bottom: 3.6rem;

    &-title {
      color: $colorPurple;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 2.4rem;
      font-style: normal;
      margin-bottom: 7rem;
      text-align: center;
    }
  }

  &--background_light {
    background-color: $colorGreyExperienceBackground;
  }

  &__title {
    @include titles;
  }

  &__subtitle {
    @include section-intro;
  }

  &__small-description {
    @include intro-text-description;
  }
}