@import "./styles/grid.scss";
@import "./styles/reset.scss";

body {
  margin: 0;
  font-family: "Inter", Sans-serif;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0; 
  height: 100%;
  background-color: #ffffff54;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
